@import "../../variables.scss";

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Posts {
  overflow: hidden auto;
  max-height: 50vh;
  width: 80%;
  margin: 0 auto;
}

.Posts::-webkit-scrollbar{ background: $white; width: 10px; }
.Posts::-webkit-scrollbar-button{ background: $black; }
.Posts::-webkit-scrollbar-thumb{ background: $black; }
