@import "../components/variables.scss";

.Main {
  margin-top: 15px;

  &__welcome {
    margin: 0 0 30px 0;
    width: 100%;
    height: 105px;
    color: #fff;
    background-image: url(https://i.ytimg.com/vi/MSUqiFhFvGs/maxresdefault.jpg);
    background-size: cover;
    position: relative;

    h3 {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
      font-size: 30px;
      text-transform: uppercase;
      font-family: Helvetica;
      font-weight: 200;
    }
  }
}
