@import "../variables.scss";

.SideBar {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  &__buttons {
    background: $black;
    color: $white;
    height: 8%;
    position: relative;
  }

  &__options {
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 26%;
    height: 35px;
    background: $grey;
    color: $black;
    border-radius: 5px 5px 0 0;
  }

  &__title {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-family: Helvetica;
    font-weight: 900;
  }
}
